<nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="https://ubisafe.org/images/transparent-tool-logo-6.png" alt="Logo" style="width:45px; margin-left: 50px;"><span> TicoChamberos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav ml-md-auto d-md-flex">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/login']"><i class="fas fa-key"></i> Iniciar Sesion</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/register']"><i class="fas fa-user-plus"></i> Registrarse</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    (function($) {
        $(window).on("load", function() {
            $(".my-sideber").mCustomScrollbar({
                theme: "dark-3"
            });
        });
    })(jQuery);
</script>

<router-outlet></router-outlet>